
.header-logo {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #0494d6;
}

.nav-link {
    display: block;
    font-size: 16px;

}
  
.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #636363;
    border-bottom: 2px solid #0494d6;
}

nav {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 0.8125rem;
    padding-bottom: 0.3125rem;
    /* margin-bottom: 10px; */
}
nav a:first-child {
    float: left;
    display: block;
    text-align: left;
    font-size: 30px !important;
    font-weight: 800;
}

nav a:not(:first-child) {
    float: right;
    display: block;
    padding: 5px 16px;
    color: #0494d6;
}

.topnav {
    overflow: hidden;
    background: #fff;
}
 
.active {
    background-color: #0494d6;
    color: white;
}
  
.topnav .icon {
    display: none;
}

.dashboard-nav {
    overflow: hidden;
    background: #0494d6;
}
.dashboard-nav a:hover {
    background-color: transparent;
    color: cornflowerblue;
}
  
.dashboard-nav .icon {
    display: none;
}

.dashboard-link {
    color: #fff;    
}